In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("heart_disease_raw.csv")
df.head()

,id,age,sex,location,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,num,has_disease,age_group
0,1,63,Male,Cleveland,typical angina,145.0,233.0,TRUE,lv hypertrophy,150.0,FALSE,2.3,downsloping,0,0,False,50-65
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,FALSE,lv hypertrophy,108.0,TRUE,1.5,flat,3,2,True,65+
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,FALSE,lv hypertrophy,129.0,TRUE,2.6,flat,2,1,True,65+
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,FALSE,normal,187.0,FALSE,3.5,downsloping,0,0,False,35-50
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,FALSE,lv hypertrophy,172.0,FALSE,1.4,upsloping,0,0,False,35-50

In [8]:
num_cols = ["trestbps","chol","thalch","oldpeak"]
cat_cols = ["restecg","slope"]

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])
df.head()

,id,age,sex,location,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,num,has_disease,age_group
0,1,63,male,Cleveland,typical angina,145.0,233.0,true,lv hypertrophy,150.0,false,2.3,downsloping,0,0,False,50-65
1,2,67,male,Cleveland,asymptomatic,160.0,286.0,false,lv hypertrophy,108.0,true,1.5,flat,3,2,True,65+
2,3,67,male,Cleveland,asymptomatic,120.0,229.0,false,lv hypertrophy,129.0,true,2.6,flat,2,1,True,65+
3,4,37,male,Cleveland,non-anginal,130.0,250.0,false,normal,187.0,false,3.5,downsloping,0,0,False,35-50
4,5,41,female,Cleveland,atypical angina,130.0,204.0,false,lv hypertrophy,172.0,false,1.4,upsloping,0,0,False,35-50

In [6]:
cat_features = ["sex","cp","fbs","restecg","exang","slope"]
for col in cat_features:
    df[col] = df[col].astype(str).str.strip().str.lower()
df.head()

,id,age,sex,location,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,num,has_disease,age_group
0,1,63,male,Cleveland,typical angina,145.0,233.0,true,lv hypertrophy,150.0,false,2.3,downsloping,0,0,False,50-65
1,2,67,male,Cleveland,asymptomatic,160.0,286.0,false,lv hypertrophy,108.0,true,1.5,flat,3,2,True,65+
2,3,67,male,Cleveland,asymptomatic,120.0,229.0,false,lv hypertrophy,129.0,true,2.6,flat,2,1,True,65+
3,4,37,male,Cleveland,non-anginal,130.0,250.0,false,normal,187.0,false,3.5,downsloping,0,0,False,35-50
4,5,41,female,Cleveland,atypical angina,130.0,204.0,false,lv hypertrophy,172.0,false,1.4,upsloping,0,0,False,35-50

In [9]:
df.to_csv("heart_disease_cleaned.csv", index=False)